.DS_Store

# These are source materials for GitHub uploads, not repository downloads.
/assets/mirra1.png
/assets/social-preview.jpg
/assets/video1.mp4
/assets/video1-readme.mp4
/assets/video2.mp4
/assets/video2-readme.mp4
